.example-card {
    max-width: 400px;
    margin: auto;
  }
  
.example-header-image {
    background-size: cover;
}

.like-icon {
  height: 20px;
  width: 23px;
}

.likes {
  margin-left: 5px;
  display: inline-block;
}