<mat-toolbar color="primary" class="title">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" class="logo">
<div><a class="home" href="/home">Instagram</a></div>
</mat-toolbar>

  <div *ngFor="let post of posts">
    <app-instagram-post [postt]="post"></app-instagram-post>
  </div>
  <div class="nextprev">
    <button mat-button *ngIf="pageNumber!=1" (click)="onPrev()">PREV</button>
    <button mat-button *ngIf="pageNumber!=3" (click)="onNext()">NEXT</button>
    </div>

 
